<!doctype html>
<head>
    <title>KUMARI BOOKSHOP</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/> 
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</head>
<body>
<nav class="navbar navbar-default" style="background-color: rgb(68, 68, 133); " >
    <div class="container-fluid">
        <ul class="nav navbar-nav">  
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: aliceblue;">
                  DETAIL LISTS <b> <i class="fa-solid fa-circle-chevron-down"></i> </b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="/products">PRODUCT LIST</a></li>
                    <li><a href="/customers">CUSTOMER LIST</a></li>
                    <li><a href="/emploees">EMPLOYEES LIST</a></li>
                    <li><a href="/suppliers">SUPPLIYER LIST</a></li>    
                </ul>
            </li>
            <li><a href="/products/add" style="color: aliceblue;">ADD PRODUCT</a></li>
            <li><a href="/customers/add" style="color: aliceblue;">ADD CUSTOMER</a></li>
            <li><a href="/emploees/add" style="color: aliceblue;">ADD EMPLOYEE</a></li>
            <li><a href="/suppliers/add" style="color: aliceblue;">ADD SUPPLIER</a></li>
            <li><a href="/transactions" style="color: aliceblue;">PAYMENT HISTORY</a></li>
            <li><a href="/transactions/add" style="color: aliceblue;">PLACE ORDER</a></li>
            <li><a href="https://kumari-bookshop.github.io/portal.github.io/" style="color: aliceblue;">WEBSITE </a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li><a class="mr-3 btn btn-outline-success" href="/products" style="color: aliceblue;" type="submit">
                <i class="fa-solid fa-house"></i></a></li>
            <li><a class="mr-3 btn btn-outline-success" href="/login" style="color: aliceblue;" type="submit">
                <i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
