{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    <div>

        <table class="table table-bordered table-striped" id="salesTable">
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Selling Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="form-control col-md-4" name="products" id="productCode" type="text"
                            placeholder="Product code">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="selling_price" id="sellingPrice" type="text"
                            placeholder="Product selling price">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="products_qty" id="qty" type="text"
                            placeholder="Product quantity">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="total" id="tot" type="text" placeholder=" ">
                    </td>

                </tr>
                <tr>
                    <td>
                        <input class="form-control col-md-4" name="products" id="productCode" type="text"
                            placeholder="Product code">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="selling_price" id="sellingPrice" type="text"
                            placeholder="Product selling price">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="products_qty" id="qty" type="text"
                            placeholder="Product quantity">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="total" id="tot" type="text" placeholder=" ">
                    </td>

                </tr>
                <tr>
                    <td>
                        <input class="form-control col-md-4" name="products" id="productCode" type="text"
                            placeholder="Product code">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="selling_price" id="sellingPrice" type="text"
                            placeholder="Product selling price">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="products_qty" id="qty" type="text"
                            placeholder="Product quantity">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="total" id="tot" type="text" placeholder=" ">
                    </td>

                </tr>
                <tr>
                    <td>
                        <input class="form-control col-md-4" name="products" id="productCode" type="text"
                            placeholder="Product code">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="selling_price" id="sellingPrice" type="text"
                            placeholder="Product selling price">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="products_qty" id="qty" type="text"
                            placeholder="Product quantity">
                    </td>
                    <td>
                        <input class="form-control col-md-4" name="total" id="tot" type="text" placeholder=" ">
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" class="btn btn-default" onclick="addNewRaw()"> + </button>
        <button type="button" class="btn btn-default" onclick="calculateTotal()">Calculate Total </button>
    </div>

    <div>
        <br>
        <div class="col-md-4">
            <input class="form-control col-md-4" id="grandTot" name="Grand total" type="text" placeholder="Grand total">
        </div>

        <div class="col-md-4">
            <input class="form-control col-md-4" id="cashRec" name="Cash Recived" type="text"
                placeholder="Cash Recived">
        </div>
        <div class="col-md-4">
            <input class="form-control col-md-4" id="bal" name="Balance" type="text" placeholder="Balance">

        </div>
        <div>
            <button type="submit" class="btn btn-default">Quick Pay</button>
            <button type="button" class="btn btn-default" onclick="calculateBalance()">Calculate Balance</button>
        </div>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function calculateTotal() {
        var grandTotal = 0;
        $('#salesTable tbody tr').each(function () {
            var sellingPrice = parseInt($(this).find('input[name="selling_price"]').val());
            var qty = parseInt($(this).find('input[name="products_qty"]').val());
            var total = sellingPrice * qty;
            $(this).find('input[name="total"]').val(total.toFixed(2));
            grandTotal += total;
        });
        $('#grandTot').val(grandTotal.toFixed(2));

    }
</script>

<script>
    function addNewRaw() {
        // add a new row to the table with empty input fields
        $('#salesTable tbody').append('<tr><td><input class="form-control col-md-4" name="products" id="productCode" type="text" placeholder="Product code"></td><td><input class="form-control col-md-4" name="selling_price" id="sellingPrice" type="text" placeholder="Product selling price"></td><td><input class="form-control col-md-4" name="products_qty" id="qty" type="text" placeholder="Product quantity"></td><td><input class="form-control col-md-4" name="total" id="tot" type="text" placeholder=" "></td></tr>');
    }
</script>

<script>
    function calculateBalance() {
        let grandTotal = parseFloat($('#grandTot').val());
        let cashReceived = parseFloat($('#cashRec').val());
        let balance = cashReceived - grandTotal;
        $('#bal').val(balance.toFixed(2));
    }
</script>
{% endblock %}
