{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        <div class="form-group">
            <label for="name">PRODUCT NAME</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="name" value="{{ product.name }}">
        </div>
        <div class="form-group">
            <label for="price">BUYING PRICE</label>
            <input name="price" type="text" class="form-control" id="price" placeholder="price" value="{{ product.buying_price }}">
        </div>
        <div class="form-group">
            <label for="sprice">SELLING PRICE</label>
            <input name="sprice" type="text" class="form-control" id="sprice" placeholder="sprice" value="{{ product.selling_price }}">
        </div>
        <div class="form-group">
            <label for="stock">STOCK QUANTITY</label>
            <input name="stock" type="text" class="form-control" id="stock" placeholder="qty" value="{{ product.stock }}">
        </div>
        <button type="submit" class="btn btn-default">UPDATE</button>
    </form>
{% endblock %}