{% extends 'base.html' %}

{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>PRODUCT ID</th>
            <th>PRODUCT NAME</th>
            <th>SELLING PRICE</th>
            <th>STOCK QUANTITY</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>
                    {{ product.id }}
                </td>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.selling_price }}
                </td>
                <td>
                    {{ product.stock }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}