<head>
    <title>KUMARI BOOKSHOP</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</head>

{% block content %}
<div class="container">
    <center>
    <h1> KUMARI BOOKSHOOP - Invoice </h1>
    <p> No.30, Ganegama Road, Aluthgama,<br>
        Sri Lanka <br>
        +94777450570 / +94710132681
    </p>
    <br>
    </center>
    <p><h4><b>
        {% for transaction in transactions %}
        {% if loop.index == 1 %}
        Transaction id : {{ transaction.transaction_id }}
        {% endif %}
        {% endfor %}
    </b></h4></p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Items Names</th>
                <th>Quantity</th>
                <th>Selling Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction_product in transactions %}
            <tr>
                
                <td>
                   {{ transaction_product.product.name }}
                </td>

                <td>
                    {{ transaction_product.product_qty }}
                </td>

                <td>
                    {{ transaction_product.product.selling_price }}
                    
                </td>

                <td>
                   {{transaction_product.product_qty * transaction_product.product.selling_price}}
                </td>
              
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Grand Total Amount:</td>
                <td> 
                    <input class="form-control col-md-1" name="total" id="tot" type="text" placeholder="  ">
                </td>
            </tr>
        </tfoot>
    </table>
    <center>
        <p><h3>Thank you & come again..</h3></p>
    </center>
    </div>

    <script>
        // Get all the "Total Price" cells in the table
        const totalCells = document.querySelectorAll('table tbody tr td:last-child');

        // Sum up the values in the "Total Price" column
        const totalAmount = Array.from(totalCells)
        .map(cell => parseFloat(cell.textContent))
        .reduce((sum, amount) => sum + amount, 0);

        // Set the total amount as the value of the "tot" input field
        document.getElementById('tot').value = totalAmount.toFixed(2);
    </script>
    {% endblock %}
