{% extends 'base.html' %}

{% block content %}
    <h1> KUMARI BOOKSHOOP </h1>
    <p> No.30, Ganegama Road, Aluthgama,<br>
        Sri Lanka <br>
        +94777450570.
    </p>
    <br>
    {% for transaction in transactions %}

    {{ transaction.id }}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Items Names</th>
                <th>Quantity</th>
                <th>Selling Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for transaction_product in transaction.transaction_products %}
                <td>
                   {{ transaction_product.product.name }}</li>
                </td>

                <td>
                    {{ transaction_product.product_qty }}</li>
                </td>

                <td>
                    {{ transaction_product.product.selling_price }}</li>
                    
                </td>

                <td>
                   {{transaction_product.product_qty * transaction_product.product.selling_price}}</li>
                </td>
                {% endfor %}
            </tr>
            
        </tbody>
    </table>
    {% endfor %}
    <p><h3>Thank you & come again..</h3></p>
    {% endblock %}
